.technologies {
  flex-direction: column;
  row-gap: 1rem;

  & .technologies-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dbz-white);
  }

  & .technologies-list {
    display: flex;
    column-gap: 0.5rem;
  }
}