.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  & .navigation-item-active {
    color: var(--dbz-orange);
  }

  & .navigation-item-active,
  & .navigation-item {
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 0.125rem solid transparent;
    cursor: default;
  }

  & .navigation-item:hover {
    border-bottom: 0.125rem solid var(--dbz-orange);
  }
}