:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: azure;
  background-color: var(--background-color);

  /* variables */
  --background-color: #2f2f2f;
  --header-height: 3rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}
